.centerbarContainer {
  flex: 6;
  display: flex;
  justify-content: center;
  .centerWrapper {
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 70%;
  }
}

.photoColor {
  color: rgb(252, 36, 36);
}
.friendColor {
  color: rgb(66, 78, 245);
}
.feelingColor {
  color: rgb(235, 205, 36);
}

@import "./sharepost";
@import "./post";
