.navbarContainer {
  z-index: 3;
  height: 60px;
  width: 100%;
  background-color: white;
  display: flex;
  align-items: center;
  position: sticky;
  top: 0;
  box-shadow: 0 4px 2px -2px rgba(0, 0, 0, 0.2);
  .navbarLeft {
    flex: 1;
    display: flex;
    align-items: center;

    .navbarIconItem0 {
      margin: 5px;
      display: flex;
      align-items: center;
      .facebookIcon {
        font-size: 50px;
        color: rgb(45, 146, 241);
        cursor: pointer;
      }
    }
    .searchBar {
      width: 60%;
      height: 40px;
      display: flex;
      align-items: center;
      border-radius: 100px;
      background-color: rgb(235, 235, 235);
      .searchInput {
        border: none;
        width: 80%;
        background-color: rgb(235, 235, 235);
        font-size: 20px;
        // clear border + outline
        &:focus {
          outline: none;
        }
      }
      .searchIcon {
        font-size: 30px;
        margin-left: 10px;
        color: rgb(92, 92, 92);
      }
    }
  }
  .navbarCenter {
    flex: 2;
    .navbarIcons {
      display: flex;
      align-items: center;
      justify-content: center;
      .navbarIconItem {
        padding: 10px 70px;
        border-radius: 10px;
        cursor: pointer;
        transition: all 0.3s ease;
        &:hover {
          background-color: rgb(236, 234, 234);
        }
        .navbarImg {
          font-size: 30px;
          opacity: 0.6;
        }
      }
    }
  }
  .navbarRight {
    flex: 1;
    // margin: 10px;
    .navbarIcons2 {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      margin-right: 30px;
      .navbarIconItem2 {
        cursor: pointer;
        position: relative;
        .navbarIconBadge {
          position: absolute;
          width: 20px;
          height: 20px;
          background-color: red;
          border-radius: 50%;
          color: white;
          top: 2px;
          right: -5px;
          display: flex;
          display: none;
          justify-content: center;
          align-items: center;
          font-size: 10px;
        }
        .navbarImg {
          text-decoration: none;
          color: black;
          background-color: rgb(235, 235, 235);
          padding: 8px;
          margin: 5px;
          width: 32px;
          height: 32px;
          border-radius: 50%;
          object-fit: cover;
          cursor: pointer;
          transition: all 0.3s ease;
          &:hover {
            background-color: rgb(197, 194, 194);
          }
        }
        .profile {
          margin-left: 5px;
          width: 45px;
          height: 45px;
          border-radius: 50%;
          object-fit: cover;
        }
      }
      .logout {
        position: absolute;
        background-color: white;
        width: 400px;
        border-radius: 10px;
        -webkit-box-shadow: 0px 2px 9px -4px #000000;
        box-shadow: 0px 2px 9px -4px #000000;
        top: 50px;
        .profileContainer {
          padding: 10px;
          .logoutFuncs {
            margin: 0;
            padding: 0;
            list-style-type: none;
            .toProfile {
              display: flex;
              align-items: center;
              cursor: pointer;
              &:hover {
                background-color: rgb(241, 241, 241);
                border-radius: 10px;
              }
              img {
                width: 45px;
                height: 45px;
                border-radius: 50%;
                object-fit: cover;
                padding: 10px;
              }
              span {
                font-size: 20px;
                font-weight: 800;
              }
            }

            .logoutFunc {
              display: flex;
              align-items: center;
              padding: 10px;
              cursor: pointer;
              &:hover {
                background-color: rgb(241, 241, 241);
                border-radius: 10px;
              }
              .Icon {
                font-size: 30px;
                padding: 8px;
                background-color: rgb(214, 214, 214);
                border-radius: 50%;
              }
              span {
                font-size: 20px;
                margin-left: 5px;
              }
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 1650px) {
  .navbarIconItem {
    padding: 10px 3vw !important;
  }
  .searchBar {
    width: 200px !important;
  }
  .searchInput {
    width: 150px !important;
  }
}

@media screen and (max-width: 1100px) {
  .navbarCenter {
    display: none !important;
  }
}
