.profile {
  .profileWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(238, 238, 238);
    .profileTop {
    }
    .profileBottom {
      width: 1350px;
      display: flex;
      .profileBottomLeft {
        flex: 1;
      }
      .profileBottomRight {
        flex: 1;
      }
    }
  }
}

@import "./personcover";
@import "./personinfo";
