.sharepost {
  background-color: white;
  width: 800px;
  min-height: 170px;
  border-radius: 10px;
  margin-bottom: 10px;
  -webkit-box-shadow: 0px 2px 9px -4px #000000;
  box-shadow: 0px 2px 9px -4px #000000;
  .sharepostWrapper {
    padding: 15px;
    .sharepostTop {
      display: flex;
      width: 100%;
      min-height: 50px;

      .sharepostInput {
        width: calc(100% - 80px);
        border: none;
        font-size: 20px;
        resize: none;
        overflow: hidden;
        &:focus {
          outline: none;
        }
      }
    }

    .imgUploadingContainer {
      padding: 20px 0px;
      width: 100%;
      height: 300px;
      position: relative;
      overflow-y: scroll;

      .imgUploading {
        object-fit: cover;
        width: 100%;
        border-radius: 20px;
      }
      .imgCancelIcon {
        position: absolute;
        top: 30px;
        right: 10px;
        background-color: white;
        border-radius: 50%;
        cursor: pointer;
      }
    }
    .sharepostHr {
      margin: 20px;
    }
    .sharepostBottom {
      display: flex;
      align-items: center;
      justify-content: space-around;

      .sharepostOption {
        display: flex;
        align-items: center;
        margin-right: 15px;
        cursor: pointer;
        .sharepostIcon {
          margin-right: 10px;
          font-size: 30px;
        }
        .sharepostOptionText {
          font-size: 18px;
          font-weight: 800;
        }
      }

      .sharepostButton {
        border: none;
        padding: 8px 20px;
        font-size: 16px;
        font-weight: 800;
        border-radius: 5px;
        cursor: pointer;
        background-color: rgb(96, 143, 236);
        color: white;
      }
    }
  }
}
