* {
  margin: 0;
  font-family: "Roboto", sans-serif;
}

.homeContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  background-color: #fcfcfc;
}

.ProfileImg {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
  margin-right: 15px;
  cursor: pointer;
}

/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 5px #e0e0e0;
          box-shadow: inset 0 0 5px #e0e0e0;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #afafaf;
  border-radius: 10px;
}

.navbarContainer {
  z-index: 3;
  height: 60px;
  width: 100%;
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  -webkit-box-shadow: 0 4px 2px -2px rgba(0, 0, 0, 0.2);
          box-shadow: 0 4px 2px -2px rgba(0, 0, 0, 0.2);
}

.navbarContainer .navbarLeft {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbarContainer .navbarLeft .navbarIconItem0 {
  margin: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbarContainer .navbarLeft .navbarIconItem0 .facebookIcon {
  font-size: 50px;
  color: #2d92f1;
  cursor: pointer;
}

.navbarContainer .navbarLeft .searchBar {
  width: 60%;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 100px;
  background-color: #ebebeb;
}

.navbarContainer .navbarLeft .searchBar .searchInput {
  border: none;
  width: 80%;
  background-color: #ebebeb;
  font-size: 20px;
}

.navbarContainer .navbarLeft .searchBar .searchInput:focus {
  outline: none;
}

.navbarContainer .navbarLeft .searchBar .searchIcon {
  font-size: 30px;
  margin-left: 10px;
  color: #5c5c5c;
}

.navbarContainer .navbarCenter {
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
}

.navbarContainer .navbarCenter .navbarIcons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.navbarContainer .navbarCenter .navbarIcons .navbarIconItem {
  padding: 10px 70px;
  border-radius: 10px;
  cursor: pointer;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.navbarContainer .navbarCenter .navbarIcons .navbarIconItem:hover {
  background-color: #eceaea;
}

.navbarContainer .navbarCenter .navbarIcons .navbarIconItem .navbarImg {
  font-size: 30px;
  opacity: 0.6;
}

.navbarContainer .navbarRight {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.navbarContainer .navbarRight .navbarIcons2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin-right: 30px;
}

.navbarContainer .navbarRight .navbarIcons2 .navbarIconItem2 {
  cursor: pointer;
  position: relative;
}

.navbarContainer .navbarRight .navbarIcons2 .navbarIconItem2 .navbarIconBadge {
  position: absolute;
  width: 20px;
  height: 20px;
  background-color: red;
  border-radius: 50%;
  color: white;
  top: 2px;
  right: -5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 10px;
}

.navbarContainer .navbarRight .navbarIcons2 .navbarIconItem2 .navbarImg {
  text-decoration: none;
  color: black;
  background-color: #ebebeb;
  padding: 8px;
  margin: 5px;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
  cursor: pointer;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.navbarContainer .navbarRight .navbarIcons2 .navbarIconItem2 .navbarImg:hover {
  background-color: #c5c2c2;
}

.navbarContainer .navbarRight .navbarIcons2 .navbarIconItem2 .profile {
  margin-left: 5px;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
}

.leftbarContainer {
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
  height: calc(100vh - 60px);
  width: 100%;
  position: -webkit-sticky;
  position: sticky;
  top: 60px;
}

.leftbarContainer:hover {
  overflow-y: scroll;
}

.leftbarContainer .leftbarWrapper {
  padding: 10px;
}

.leftbarContainer .leftbarWrapper .leftbarList {
  padding: 0;
  margin: 0;
  list-style: none;
  cursor: pointer;
}

.leftbarContainer .leftbarWrapper .leftbarList .leftbarListItem {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  padding: 10px;
}

.leftbarContainer .leftbarWrapper .leftbarList .leftbarListItem:hover {
  background-color: #f3f3f3;
  border-radius: 10px;
}

.leftbarContainer .leftbarWrapper .leftbarList .leftbarListItem .leftbarListItemText {
  margin-left: 10px;
}

.leftbarContainer .leftbarWrapper .leftbarList .leftbarListItem .more {
  background-color: #ebebeb;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
  cursor: pointer;
}

.leftbarContainer .leftbarWrapper .leftbarList .leftbarListItem .leftbarIcon {
  width: 32px;
  height: 32px;
  color: #5c5c5c;
}

.leftbarContainer .leftbarWrapper .leftbarHr {
  display: block;
  margin: 5px 0px;
}

.leftbarContainer .leftbarWrapper .leftbarShortcutTitle {
  display: block;
  padding: 5px 0px;
  margin-bottom: 5px;
}

.centerbarContainer {
  -webkit-box-flex: 6;
      -ms-flex: 6;
          flex: 6;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.centerbarContainer .centerWrapper {
  padding: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.centerbarContainer .centerWrapper .noPost {
  background-color: white;
  width: 800px;
  min-height: 50px;
  border-radius: 10px;
  margin-bottom: 20px;
  -webkit-box-shadow: 0px 2px 9px -4px #000000;
  box-shadow: 0px 2px 9px -4px #000000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.centerbarContainer .centerWrapper .noPost span {
  margin-left: 20px;
  font-size: 24px;
  font-weight: 800;
}

.photoColor {
  color: #fc2424;
}

.friendColor {
  color: #424ef5;
}

.feelingColor {
  color: #ebcd24;
}

.sharepost {
  background-color: white;
  width: 800px;
  min-height: 170px;
  border-radius: 10px;
  margin-bottom: 20px;
  -webkit-box-shadow: 0px 2px 9px -4px #000000;
  box-shadow: 0px 2px 9px -4px #000000;
}

.sharepost .sharepostWrapper {
  padding: 15px;
}

.sharepost .sharepostWrapper .sharepostTop {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  min-height: 50px;
}

.sharepost .sharepostWrapper .sharepostTop .sharepostInput {
  width: calc(100% - 80px);
  border: none;
  font-size: 20px;
  resize: none;
  overflow: hidden;
}

.sharepost .sharepostWrapper .sharepostTop .sharepostInput:focus {
  outline: none;
}

.sharepost .sharepostWrapper .imgUploadingContainer {
  padding: 20px 0px;
  width: 100%;
  height: 300px;
  position: relative;
  overflow-y: scroll;
}

.sharepost .sharepostWrapper .imgUploadingContainer .imgUploading {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  border-radius: 20px;
}

.sharepost .sharepostWrapper .imgUploadingContainer .imgCancelIcon {
  position: absolute;
  top: 30px;
  right: 10px;
  background-color: white;
  border-radius: 50%;
  cursor: pointer;
}

.sharepost .sharepostWrapper .sharepostHr {
  margin: 20px;
}

.sharepost .sharepostWrapper .sharepostBottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.sharepost .sharepostWrapper .sharepostBottom .sharepostOption {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 15px;
  cursor: pointer;
}

.sharepost .sharepostWrapper .sharepostBottom .sharepostOption .sharepostIcon {
  margin-right: 10px;
  font-size: 30px;
}

.sharepost .sharepostWrapper .sharepostBottom .sharepostOption .sharepostOptionText {
  font-size: 18px;
  font-weight: 800;
}

.sharepost .sharepostWrapper .sharepostBottom .sharepostButton {
  border: none;
  padding: 8px 20px;
  font-size: 16px;
  font-weight: 800;
  border-radius: 5px;
  cursor: pointer;
  background-color: #608fec;
  color: white;
}

.post {
  background-color: white;
  width: 800px;
  border-radius: 10px;
  -webkit-box-shadow: 0px 2px 9px -4px #000000;
  box-shadow: 0px 2px 9px -4px #000000;
  margin-bottom: 10px;
}

.post .postWrapper {
  padding: 15px;
}

.post .postWrapper .postTop {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.post .postWrapper .postTop .postTopLeft {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.post .postWrapper .postTop .postTopLeft .profileInfo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.post .postWrapper .postTop .postTopLeft .profileInfo .postUsername {
  font-size: 16px;
  font-weight: 900;
  cursor: pointer;
}

.post .postWrapper .postTop .postTopLeft .profileInfo .postDate {
  font-size: 14px;
  color: #b3b3b3;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}

.post .postWrapper .postTop .postTopLeft .profileInfo .postDate .postDateIcon {
  font-size: 14px;
}

.post .postWrapper .postTop .postTopRight {
  padding: 6px;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.post .postWrapper .postTop .postTopRight .moreContent {
  position: absolute;
  top: 30px;
  left: -212px;
  background-color: white;
  width: 200px;
  padding: 10px;
  border-radius: 10px;
  -webkit-box-shadow: 0px 2px 9px -4px #000000;
  box-shadow: 0px 2px 9px -4px #000000;
  margin: 10px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 20px;
}

.post .postWrapper .postTop .postTopRight .moreContent:hover {
  background-color: #dbdbdb;
}

.post .postWrapper .postTop .postTopRight .postMoreIcon {
  right: -6px;
}

.post .postWrapper .postTop .postTopRight .postMoreIcon:hover {
  position: relative;
  padding: 6px;
  background-color: #ebebeb;
  border-radius: 50%;
}

.post .postWrapper .postCenter .postText {
  display: block;
  margin: 16px 0px;
}

.post .postWrapper .postCenter .postImg {
  margin: 10px 0px;
  cursor: pointer;
  width: 100%;
  max-height: 500px;
  -o-object-fit: contain;
     object-fit: contain;
}

.post .postWrapper .postBottom .postBottomInfos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.post .postWrapper .postBottom .postBottomInfos .postBottomInfosLeft {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.post .postWrapper .postBottom .postBottomInfos .postBottomInfosLeft .likeIcon {
  width: 24px;
  height: 24px;
  cursor: pointer;
}

.post .postWrapper .postBottom .postBottomInfos .postBottomInfosLeft .likeCount {
  margin-left: 5px;
  cursor: pointer;
}

.post .postWrapper .postBottom .postBottomInfos .postBottomInfosRight span {
  margin: 0px 2px;
  cursor: pointer;
}

.post .postWrapper .postBottom .postBottomHr {
  display: block;
  margin: 5px 0px;
}

.post .postWrapper .postBottom .postBottomComments {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.post .postWrapper .postBottom .postBottomComments .postBottomComment {
  padding: 3px 80px;
  border-radius: 10px;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.post .postWrapper .postBottom .postBottomComments .postBottomComment:hover {
  background-color: #eceaea;
}

.post .postWrapper .postBottom .postBottomComments .postBottomComment .postBottomCommentIcon {
  font-size: 30px;
  opacity: 0.6;
}

.post .postWrapper .postBottom .postBottomComments .postBottomComment .postBottomCommentAct {
  color: gray;
  font-weight: 800;
  margin-left: 3px;
}

.rightbarContainer {
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
  height: calc(100vh - 60px);
  width: 100%;
  position: -webkit-sticky;
  position: sticky;
  top: 60px;
  overflow-y: scroll;
}

.rightbarContainer .rightbarWrapper .birthdayContainer .rightbarbirthdayTitle {
  display: block;
  padding: 15px 0px;
  font-size: 20px;
  font-weight: 800;
  color: #999999;
}

.rightbarContainer .rightbarWrapper .birthdayContainer .rightbarbirthdayItem {
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px 0px;
}

.rightbarContainer .rightbarWrapper .birthdayContainer .rightbarbirthdayItem:hover {
  background-color: #f3f3f3;
  border-radius: 10px;
}

.rightbarContainer .rightbarWrapper .birthdayContainer .rightbarbirthdayItem .rightbarIcon {
  width: 32px;
  height: 32px;
  color: #5c5c5c;
}

.rightbarContainer .rightbarWrapper .birthdayContainer .rightbarbirthdayItem .rightbarListItemText {
  margin-left: 10px;
}

.rightbarContainer .rightbarWrapper .birthdayContainer .rightbarHr {
  display: block;
  margin: 5px 0px;
}

.rightbarContainer .rightbarWrapper .rightbarFriends .rightbarContact {
  margin: 15px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.rightbarContainer .rightbarWrapper .rightbarFriends .rightbarContact .rightbarContactPerson {
  font-size: 20px;
  font-weight: 800;
  color: #999999;
}

.rightbarContainer .rightbarWrapper .rightbarFriends .rightbarContact .rightbarContactIcon {
  width: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  color: #5c5c5c;
  cursor: pointer;
}

.rightbarContainer .rightbarWrapper .rightbarFriends .rightbarContact .rightbarContactIcon .rightbarSmallIcon {
  width: 24px;
  height: 24px;
  padding: 6px;
}

.rightbarContainer .rightbarWrapper .rightbarFriends .rightbarContact .rightbarContactIcon .rightbarSmallIcon:hover {
  background-color: #ebebeb;
  border-radius: 50%;
}

.rightbarContainer .rightbarWrapper .rightbarFriends .rigthbarFriendsList {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.rightbarContainer .rightbarWrapper .rightbarFriends .rigthbarFriendsList .rigthbarFriendsListItem {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 5px;
  cursor: pointer;
}

.rightbarContainer .rightbarWrapper .rightbarFriends .rigthbarFriendsList .rigthbarFriendsListItem:hover {
  background-color: #f3f3f3;
  border-radius: 10px;
}

.rightbarContainer .rightbarWrapper .rightbarFriends .rigthbarFriendsList .rigthbarFriendsListItem .rightbarFriendsContainer {
  position: relative;
}

.rightbarContainer .rightbarWrapper .rightbarFriends .rigthbarFriendsList .rigthbarFriendsListItem .rightbarFriendsContainer .ProfileImg {
  margin-right: 0 !important;
}

.rightbarContainer .rightbarWrapper .rightbarFriends .rigthbarFriendsList .rigthbarFriendsListItem .rightbarFriendsContainer .onlineLight {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: #2a972a;
  position: absolute;
  bottom: 2px;
  right: 2px;
  border: 2px solid white;
}

.rightbarContainer .rightbarWrapper .rightbarFriends .rigthbarFriendsList .rigthbarFriendsListItem .rightbarFriendName {
  margin-left: 5px;
}

.profile {
  position: relative;
}

.profile .editPage {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  z-index: 4;
}

.profile .editPage .editWrapper {
  position: fixed;
  background-color: white;
  width: 1000px;
  height: 80 0px;
  border-radius: 10px;
  -webkit-box-shadow: 0px 2px 9px -4px #000000;
  box-shadow: 0px 2px 9px -4px #000000;
  margin-bottom: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.profile .editPage .editWrapper .editPhoto {
  width: 100%;
  height: 300px;
}

.profile .editPage .editWrapper .editPhoto .picture {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.profile .editPage .editWrapper .editPhoto .picture .imgUploading {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
}

.profile .editPage .editWrapper .editPhoto .title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.profile .editPage .editWrapper .editPhoto .title span {
  padding: 10px 20px;
  font-size: 24px;
  font-weight: 800;
}

.profile .editPage .editWrapper .editPhoto .title .edit {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.profile .editPage .editWrapper .editPhoto .title .edit span {
  padding: 10px 20px;
  font-size: 24px;
  cursor: pointer;
}

.profile .editPage .editWrapper .editCover {
  width: 100%;
  min-height: 300px;
}

.profile .editPage .editWrapper .editCover .picture {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.profile .editPage .editWrapper .editCover .picture .imgUploading {
  width: 700px;
  height: 250px;
  border-radius: 10px;
  -o-object-fit: contain;
     object-fit: contain;
}

.profile .editPage .editWrapper .editCover .title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.profile .editPage .editWrapper .editCover .title span {
  padding: 10px 20px;
  font-size: 24px;
  font-weight: 800;
}

.profile .editPage .editWrapper .editCover .title .edit {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.profile .editPage .editWrapper .editCover .title .edit span {
  padding: 10px 20px;
  font-size: 24px;
  cursor: pointer;
}

.profile .editPage .editWrapper .editContainer {
  width: 100%;
  height: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.profile .editPage .editWrapper .editContainer .Icon {
  position: absolute;
  background-color: #d4d4d4;
  right: 10px;
  font-size: 32px;
  font-weight: 800;
  border-radius: 50%;
  padding: 3px;
  cursor: pointer;
}

.profile .editPage .editWrapper .editContainer span {
  font-size: 24px;
  font-weight: 800;
}

.profile .editPage .editWrapper .editHr {
  width: 100%;
  opacity: 0.3;
}

.profile .editPage .editWrapper .button {
  margin: 5px;
  width: 95%;
  min-height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}

.profile .editPage .editWrapper .button span {
  text-align: center;
  font-size: 20px;
  font-weight: 800;
  padding: 5px;
  width: 100%;
  color: #385bf7;
  background-color: #e0ebfc;
  border-radius: 10px;
}

.profile .editPage .editWrapper .button span:hover {
  background-color: #dde1e7;
}

.profile .filter {
  position: absolute;
  background-color: #ececec;
  opacity: 0.8;
  width: 100%;
  height: 100%;
  z-index: 3;
}

.profile .profileWrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #eeeeee;
}

.profile .profileWrapper .profileBottom {
  width: 1350px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.profile .profileWrapper .profileBottom .profileBottomLeft {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.profile .profileWrapper .profileBottom .profileBottomRight {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.personcover {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100vw;
}

.personcover .personWrapper {
  width: 100%;
  height: calc(85vh - 60px);
  background: -webkit-gradient(linear, left top, left bottom, from(#dadada), to(#ffffff));
  background: linear-gradient(#dadada, #ffffff);
  border-bottom: 0.3px solid rgba(221, 221, 221, 0.089);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.personcover .personWrapper .profileTop {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  top: -3px;
}

.personcover .personWrapper .profileTop .profileCoverImg {
  height: calc(55vh);
  width: 1400px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 10px;
  cursor: pointer;
  z-index: 1;
}

.personcover .personWrapper .profileTop .profileMiddle {
  width: 1300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: white;
  position: relative;
  top: -50px;
}

.personcover .personWrapper .profileTop .profileMiddle .profileMiddleTop {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.personcover .personWrapper .profileTop .profileMiddle .profileMiddleTop .profileMiddleTopLeft {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.personcover .personWrapper .profileTop .profileMiddle .profileMiddleTop .profileMiddleTopCenter {
  -webkit-box-flex: 4;
      -ms-flex: 4;
          flex: 4;
}

.personcover .personWrapper .profileTop .profileMiddle .profileMiddleTop .profileMiddleTopCenter .profileUserInfos {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.personcover .personWrapper .profileTop .profileMiddle .profileMiddleTop .profileMiddleTopCenter .profileUserInfos .profileUsername {
  font-size: 32px;
  padding: 5px;
}

.personcover .personWrapper .profileTop .profileMiddle .profileMiddleTop .profileMiddleTopCenter .profileUserInfos .profileFriendsCount {
  font-size: 20px;
  padding: 5px;
}

.personcover .personWrapper .profileTop .profileMiddle .profileMiddleTop .profileMiddleTopCenter .profileUserInfos .profileUserSmallImgs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 5px;
}

.personcover .personWrapper .profileTop .profileMiddle .profileMiddleTop .profileMiddleTopCenter .profileUserInfos .profileUserSmallImgs .profileUserSmallImg {
  border: 1px solid white;
  cursor: pointer;
}

.personcover .personWrapper .profileTop .profileMiddle .profileMiddleTop .profileMiddleTopRight {
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.personcover .personWrapper .profileTop .profileMiddle .profileMiddleTop .profileMiddleTopRight .editProfile {
  background-color: #e0e0e0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px;
  border: none;
  border-radius: 5px;
  font-size: 20px;
  font-weight: 800;
  cursor: pointer;
}

.personcover .personWrapper .profileTop .profileMiddle .profileMiddleTop .profileMiddleTopRight .addFriend {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px;
  border: none;
  background-color: #1872f2;
  border-radius: 5px;
  font-size: 20px;
  font-weight: 800;
  color: white;
  margin-left: 10px;
  cursor: pointer;
}

.personcover .personWrapper .profileTop .profileMiddle .profileMiddleTop .profileMiddleTopRight .addFriend span {
  margin-left: 5px;
}

.personcover .personWrapper .profileTop .profileMiddle .profileMiddleTop .profileMiddleTopRight .sendMessage {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px;
  border: none;
  background-color: #e0e0e0;
  border-radius: 5px;
  font-size: 20px;
  font-weight: 800;
  margin-left: 10px;
  cursor: pointer;
}

.personcover .personWrapper .profileTop .profileMiddle .profileMiddleTop .profileMiddleTopRight .sendMessage span {
  margin-left: 5px;
}

.personcover .personWrapper .profileTop .profileMiddle .profileMiddleHr {
  margin-top: 23px;
  opacity: 0.3;
}

.personcover .personWrapper .profileTop .profileMiddle .profileMiddleBottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.personcover .personWrapper .profileTop .profileMiddle .profileMiddleBottom .profileMiddleBottomLeft {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.personcover .personWrapper .profileTop .profileMiddle .profileMiddleBottom .profileMiddleBottomLeft .profileMiddleBottomText {
  margin: 2px;
  padding: 17px;
  font-weight: 800;
  border-radius: 10px;
  cursor: pointer;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.personcover .personWrapper .profileTop .profileMiddle .profileMiddleBottom .profileMiddleBottomLeft .profileMiddleBottomText:hover {
  background-color: #e0e0e0;
}

.personcover .personWrapper .profileTop .profileMiddle .profileMiddleBottom .profileMiddleBottomRight {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.personcover .personWrapper .profileTop .profileMiddle .profileMiddleBottom .profileMiddleBottomRight .moreHorizIcon {
  padding: 8px 16px;
  background-color: #e0e0e0;
  border-radius: 5px;
  cursor: pointer;
}

.profileUserImg {
  width: 175px;
  height: 175px;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
  border: 5px solid white;
  cursor: pointer;
  z-index: 2;
}

.profileUserSmallImg {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
}

.personinfo {
  width: 100%;
}

.personinfo .personinfoWrapper {
  margin: 20px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.personinfo .personinfoWrapper .personinfoProfile {
  background-color: white;
  border-radius: 10px;
  -webkit-box-shadow: 0px 2px 9px -4px #000000;
  box-shadow: 0px 2px 9px -4px #000000;
  padding: 15px;
}

.personinfo .personinfoWrapper .personinfoProfile h4 {
  font-size: 24px;
  margin: 5px 0px;
}

.personinfo .personinfoWrapper .personinfoProfile .personinfoProfileDesc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 20px;
}

.personinfo .personinfoWrapper .personinfoProfile .addPersoninfo {
  margin: 8px 0px;
  padding: 8px;
  width: 100%;
  font-size: 16px;
  font-weight: 800;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.personinfo .personinfoWrapper .personinfoProfile .personinfoList .personinfoListItems {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.personinfo .personinfoWrapper .personinfoProfile .personinfoList .personinfoListItems .personinfoListItem {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 5px 0px;
}

.personinfo .personinfoWrapper .personinfoProfile .personinfoList .personinfoListItems .personinfoListItem .Icon {
  font-size: 32px;
}

.personinfo .personinfoWrapper .personinfoProfile .personinfoList .personinfoListItems .personinfoListItem .IconText {
  margin-left: 15px;
  font-size: 20px;
}

.personinfo .personinfoWrapper .personinfoFriends {
  margin: 20px 0px;
  background-color: white;
  border-radius: 10px;
  -webkit-box-shadow: 0px 2px 9px -4px #000000;
  box-shadow: 0px 2px 9px -4px #000000;
  padding: 15px;
}

.personinfo .personinfoWrapper .personinfoFriends .personinfoFriendsFunc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.personinfo .personinfoWrapper .personinfoFriends .personinfoFriendsFunc h4 {
  font-size: 24px;
  margin: 5px 0px;
}

.personinfo .personinfoWrapper .personinfoFriends .personinfoFriendsFunc .more {
  color: #4958da;
  font-size: 18px;
  cursor: pointer;
  padding: 10px;
  border-radius: 5px;
}

.personinfo .personinfoWrapper .personinfoFriends .personinfoFriendsFunc .more:hover {
  background-color: #dddddd;
}

.personinfo .personinfoWrapper .personinfoFriends .personinfoFriendsPictures {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.personinfo .personinfoWrapper .personinfoFriends .personinfoFriendsPictures .FriendsContainer {
  padding: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  cursor: pointer;
}

.personinfo .personinfoWrapper .personinfoFriends .personinfoFriendsPictures .FriendsContainer .friendImg {
  width: 150px;
  height: 150px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 5px;
}

.login {
  width: 100vw;
  height: 85vh;
  background-color: #dfdfdf;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.login .loginWrapper {
  width: 70%;
  height: 70%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.login .loginWrapper .loginLeft {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.login .loginWrapper .loginLeft .loginLogo {
  font-size: 50px;
  color: #1775ee;
  margin-bottom: 10px;
}

.login .loginWrapper .loginLeft .loginDesc {
  font-size: 32px;
}

.login .loginWrapper .loginRight {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.login .loginWrapper .loginRight .registerBox {
  height: 450px !important;
}

.login .loginWrapper .loginRight .loginBox {
  background-color: white;
  border-radius: 10px;
  -webkit-box-shadow: 0px 2px 9px -4px #000000;
  box-shadow: 0px 2px 9px -4px #000000;
  padding: 15px;
  width: 400px;
  height: 350px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.login .loginWrapper .loginRight .loginBox .loginInput {
  border-radius: 10px;
  border: 1px solid gray;
  font-size: 18px;
  padding: 15px;
}

.login .loginWrapper .loginRight .loginBox .loginInput:focus {
  outline: none;
}

.login .loginWrapper .loginRight .loginBox .loginButton {
  font-size: 24px;
  height: 70px;
  border-radius: 10px;
  border: none;
  background-color: #1775ee;
  color: white;
  font-weight: 800;
  cursor: pointer;
}

.login .loginWrapper .loginRight .loginBox .loginButton:focus {
  outline: none;
}

.login .loginWrapper .loginRight .loginBox .loginButton:disabled {
  cursor: not-allowed;
}

.login .loginWrapper .loginRight .loginBox .loginForgot {
  text-align: center;
  color: #1775ee;
  cursor: pointer;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.login .loginWrapper .loginRight .loginBox .loginForRegister {
  font-size: 20px;
  padding: 15px;
  border-radius: 10px;
  border: none;
  background-color: limegreen;
  color: white;
  font-weight: 800;
  cursor: pointer;
  width: 40%;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.login .loginWrapper .loginRight .warning {
  margin-top: 30px;
  font-weight: 800;
}

.loginFooter {
  height: 10vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: gray;
}

.loginFooter a {
  text-decoration: none;
  color: gray;
  font-weight: 900;
}

.messenger {
  height: calc(100vh - 80px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.messenger .chatRoom {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.messenger .chatRoom .chatRoomWrapper {
  padding: 10px;
  height: 100%;
  overflow-y: scroll;
}

.messenger .chatRoom .chatRoomWrapper .chatRoomInfo {
  margin: 10px 0px;
  padding: 0px 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.messenger .chatRoom .chatRoomWrapper .chatRoomInfo span {
  font-size: 32px;
  font-weight: 800;
}

.messenger .chatRoom .chatRoomWrapper .chatRoomInfo .chatRoomIcons .Icon {
  padding: 8px;
  margin: 5px;
  background-color: #e4e4e4;
  border-radius: 50%;
  cursor: pointer;
  font-size: 28px;
}

.messenger .chatRoom .chatRoomWrapper .chatRoomInfo .chatRoomIcons .Icon:hover {
  background-color: #cacaca;
}

.messenger .chatRoom .chatRoomWrapper .searchBarContainers {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.messenger .chatRoom .chatRoomWrapper .searchBarContainers .searchBar {
  width: 90%;
  background-color: #ececec;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 5px;
  border-radius: 50px;
  margin-bottom: 20px;
}

.messenger .chatRoom .chatRoomWrapper .searchBarContainers .searchBar .SearchIcon {
  font-size: 24px;
}

.messenger .chatRoom .chatRoomWrapper .searchBarContainers .searchBar .chatRootSearch {
  width: 90%;
  border: none;
  font-size: 18px;
  background-color: #ececec;
  padding: 5px;
}

.messenger .chatRoom .chatRoomWrapper .searchBarContainers .searchBar .chatRootSearch:focus {
  outline: none;
}

.messenger .chatPlace {
  -webkit-box-flex: 2.5;
      -ms-flex: 2.5;
          flex: 2.5;
}

.messenger .chatPlace .chatPlaceWrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.messenger .chatPlace .chatPlaceWrapper .messageTop {
  height: 70px;
  -webkit-box-shadow: 0px 4px 2px -2px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 4px 2px -2px rgba(0, 0, 0, 0.2);
  padding: 5px;
}

.messenger .chatPlace .chatPlaceWrapper .messageTop .messageInfo {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.messenger .chatPlace .chatPlaceWrapper .messageTop .messageInfo .messagePerson {
  padding: 10px;
  cursor: pointer;
  border-radius: 10px;
  margin-left: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.messenger .chatPlace .chatPlaceWrapper .messageTop .messageInfo .messagePerson:hover {
  background-color: #eeeeee;
}

.messenger .chatPlace .chatPlaceWrapper .messageTop .messageInfo .messagePerson img {
  width: 50px;
  height: 50px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 50%;
  margin-right: 10px;
}

.messenger .chatPlace .chatPlaceWrapper .messageTop .messageInfo .messagePerson .messagePersonContent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.messenger .chatPlace .chatPlaceWrapper .messageTop .messageInfo .messagePerson .messagePersonContent .messageName {
  font-size: 20px;
  font-weight: 800;
}

.messenger .chatPlace .chatPlaceWrapper .messageTop .messageInfo .messageIcons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.messenger .chatPlace .chatPlaceWrapper .messageTop .messageInfo .messageIcons .Icon {
  color: blue;
  font-size: 32px;
  padding: 5px;
  border-radius: 50%;
  margin: 5px;
  cursor: pointer;
}

.messenger .chatPlace .chatPlaceWrapper .messageTop .messageInfo .messageIcons .Icon:hover {
  background-color: #e9e9e9;
}

.messenger .chatPlace .chatPlaceWrapper .messageMiddle {
  height: calc(100vh - 210px);
  overflow-y: scroll;
}

.messenger .chatPlace .chatPlaceWrapper .messageBottom {
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 10px 0px;
}

.messenger .chatPlace .chatPlaceWrapper .messageBottom .Icon {
  margin: 5px;
  width: 30px;
  height: 30px;
  color: #4897ff;
  cursor: pointer;
}

.messenger .chatPlace .chatPlaceWrapper .messageBottom .chatContainer {
  width: calc(100% - 160px);
  height: 40px;
  background-color: #e6e6e6;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 50px;
}

.messenger .chatPlace .chatPlaceWrapper .messageBottom .chatContainer .chat {
  width: 95%;
  font-size: 20px;
  border: none;
  outline: none;
  background-color: #e6e6e6;
}

.messenger .chatPerson {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -webkit-box-shadow: -2px 0px 0px 0px rgba(0, 0, 0, 0.2);
          box-shadow: -2px 0px 0px 0px rgba(0, 0, 0, 0.2);
  height: calc(100vh - 80px);
}

.messenger .chatPerson .chatPersonWrapper {
  padding: 10px;
  height: 100%;
}

.messenger .noConversation {
  -webkit-box-flex: 3.5;
      -ms-flex: 3.5;
          flex: 3.5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.messenger .noConversation span {
  font-size: 32px;
  color: #c4c4c4;
}

.conversation {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px 0px;
  border-radius: 10px;
  cursor: pointer;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.conversation:hover {
  background-color: #ececec;
}

.conversation .conversationImg {
  width: 60px;
  height: 60px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 50%;
  margin-left: 10px;
}

.conversation .conversationContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-left: 10px;
}

.conversation .conversationContainer .conversationName {
  font-size: 20px;
}

.message {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.message .messageWrapper {
  margin: 5px 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.message .messageWrapper .messageImg {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
  margin-right: 10px;
}

.message .messageWrapper .messageContainer {
  position: relative;
}

.message .messageWrapper .messageContainer .messageTime {
  display: none;
}

.message .messageWrapper .messageContainer:hover {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.message .messageWrapper .messageContainer:hover .messageTime {
  display: block;
  width: 150px;
  position: absolute;
  right: -170px;
  padding: 10px;
  font-size: 14px;
  border-radius: 10px;
  background-color: #303030;
  opacity: 0.7;
  color: white;
}

.message .messageWrapper .messageContainer .messageText {
  font-size: 18px;
  padding: 10px;
  background-color: #e0e0e0;
  border-radius: 20px;
  max-width: 400px;
}

.message.own {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.message.own .messageWrapper {
  margin: 5px 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.message.own .messageWrapper .messageImg {
  display: none;
}

.message.own .messageWrapper .messageContainer {
  position: relative;
}

.message.own .messageWrapper .messageContainer .messageTime {
  display: none;
}

.message.own .messageWrapper .messageContainer:hover {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.message.own .messageWrapper .messageContainer:hover .messageTime {
  display: block;
  width: 150px;
  position: absolute;
  left: -170px;
  padding: 10px;
  font-size: 14px;
  border-radius: 10px;
  background-color: #303030;
  opacity: 0.7;
  color: white;
}

.message.own .messageWrapper .messageContainer .messageText {
  font-size: 18px;
  padding: 10px;
  background-color: #1b7ef0;
  color: white;
  border-radius: 20px;
  max-width: 400px;
}

.chatpersoninfo .chatpersoninfoWrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.chatpersoninfo .chatpersoninfoWrapper .person {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 20px 0px;
}

.chatpersoninfo .chatpersoninfoWrapper .person .img {
  width: 90px;
  height: 90px;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
}

.chatpersoninfo .chatpersoninfoWrapper .person .name {
  font-size: 24px;
  font-weight: 800;
  cursor: pointer;
}

.chatpersoninfo .chatpersoninfoWrapper .person .time {
  color: gray;
}

.chatpersoninfo .chatpersoninfoWrapper .personInfo .Icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.chatpersoninfo .chatpersoninfoWrapper .personInfo .Icons .IconContainer {
  padding: 10px 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.chatpersoninfo .chatpersoninfoWrapper .personInfo .Icons .IconContainer .Icon {
  padding: 5px;
  background-color: #e0e0e0;
  border-radius: 50%;
  font-size: 30px;
  cursor: pointer;
}
/*# sourceMappingURL=style.css.map */